In [51]:
print ("123")

123

In [52]:
head = "AA"
tail = "3"
print(head+tail)

AA3

In [53]:
print ("="*30)
print ("어쩌고저쩌고")
print ("="*30)

==============================
어쩌고저쩌고
==============================

In [54]:
#슬라이싱, 인덱싱
a="My name is Min"
print (a[3])
print (a[-3])
print (a[0:4])

a = "My name is Min"
print (a[11:])
print (a[-3:])
print (a[:])

a = "20171226Rainy"
year = a[0:4]
mon = a[4:6]
print (mon)

n
M
My n
Min
Min
My name is Min
12

In [55]:
s = "Apple"
print ("불라 %s 불라" % s)
num = 100
print ("불라 %i 불라" % 10000000)
print ("불라 %s %i 불라 " % (s, num))
print ("%d%%" % 95)
print ("%10s" % "hi")
print ("%-10s hi" % "hello")
print ("%0.4f" % 3.14515948546)
print ("%10.4f" % 3.14515948546)

불라 Apple 불라
불라 10000000 불라
불라 Apple 100 불라
95%
        hi
hello      hi
3.1452
    3.1452

In [56]:
s = "hello"
s.count("l")

2

In [57]:
s = "hello"
# s.find("e")
# s.find("o")
s.index("e")

1

In [58]:
# 빈출
a = ","
a.join("abcde")

'a,b,c,d,e'

In [59]:
a = "hi"
a.upper()

'HI'

In [60]:
a = "HI"
a.lower()

'hi'

In [61]:
a = "  hi  "
print(a.lstrip().rstrip())
print(a.strip())

hi
hi

In [62]:
a = "apple grape"
# print(a.replace("apple","melon"))
print (a.split())
b = "2017:12:21:Rainy"
print (b.split(":"))

['apple', 'grape']
['2017', '12', '21', 'Rainy']

In [63]:
print (a)
print (len(a)*len(b))

apple grape
176

In [64]:
#pithon -> python
"pithon".replace("i","y")
type("pithon")
type(4.0)

3**4
7%3
7//3

print ("불라불라", 48*7 ,"불라")
print ("불라불라 %d 불라" % (48*7))

불라불라 336 불라
불라불라 336 불라

In [65]:
a = [1,2,3]
print (a)
print (a[1])
print (a[-1])

a = [1,2,[3,4]]
print (a[-1])
print (a[-1][-1])

[1, 2, 3]
2
3
[3, 4]
4

In [66]:
season = ['spring',['summer',['apple','grape','melon'],'fall'],'winter']
print (season[1][1][1])
# rank, shape, axis
# rank : 배열 몇 단? / shape [2,2][3,1] / axis
season[:]
season[1:]
season[:-1]

grape

['spring', ['summer', ['apple', 'grape', 'melon'], 'fall']]

In [67]:
a = [1,2,3,4,5,8]
b = [10,11,12,13]
print (a+b)
print (a*3)
if 4 in a:
    print ("응 있어")

a[1]=99
print (a)

a[1:2] = [66,55,44,33,22]
print (a)

a[1:2] = []
print (a)

del a[1]
print (a)

a[1] = [66,55,44,33,22]
print (a)
a[1:2] = [66,55,44,33,22]
print (a)

[1, 2, 3, 4, 5, 8, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 8, 1, 2, 3, 4, 5, 8, 1, 2, 3, 4, 5, 8]
응 있어
[1, 99, 3, 4, 5, 8]
[1, 66, 55, 44, 33, 22, 3, 4, 5, 8]
[1, 55, 44, 33, 22, 3, 4, 5, 8]
[1, 44, 33, 22, 3, 4, 5, 8]
[1, [66, 55, 44, 33, 22], 33, 22, 3, 4, 5, 8]
[1, 66, 55, 44, 33, 22, 33, 22, 3, 4, 5, 8]

In [73]:
a.append(77)
a.sort()
print (a)
a.reverse()
print(a)
print(a.index(44))
a.insert(0,4)
print(a)
a.remove(3)
print(a)

[1, 3, 4, 4, 5, 8, 22, 22, 33, 33, 44, 55, 66, 77, 77, 77, 77, 77, 77]
[77, 77, 77, 77, 77, 77, 66, 55, 44, 33, 33, 22, 22, 8, 5, 4, 4, 3, 1]
8
[4, 77, 77, 77, 77, 77, 77, 66, 55, 44, 33, 33, 22, 22, 8, 5, 4, 4, 3, 1]
[4, 77, 77, 77, 77, 77, 77, 66, 55, 44, 33, 33, 22, 22, 8, 5, 4, 4, 1]

In [86]:
print(a.pop())
print(a)
print(a.count(77))
b = [999,9999]
a.extend(b)
print (a)
# Array 관련 함수들
[1,2,3,4]
# Tuple 관련 함수들
c = (1,2,4,5)

s = "Hello"
l = ['a','b','c']

t = tuple(s)
print(t)

tl= tuple(l)
print(tl)

print ((t+tl)*2)

9999
[4, 77, 77, 77, 77, 77, 77, 66, 55, 44, 33, 33, 22, 22, 999, 999, 999, 999, 999, 999, 999, 999]
6
[4, 77, 77, 77, 77, 77, 77, 66, 55, 44, 33, 33, 22, 22, 999, 999, 999, 999, 999, 999, 999, 999, 999, 9999]
('H', 'e', 'l', 'l', 'o')
('a', 'b', 'c')
('H', 'e', 'l', 'l', 'o', 'a', 'b', 'c', 'H', 'e', 'l', 'l', 'o', 'a', 'b', 'c')

In [24]:
dic = {'key1':[1,2,3,4],'key2':'value2','key3':'value3'}
# dic['key4']='value4' #추가
# dic['key5']='value5' #추가
# del dic['key2'] #삭제
# print(dic)
# print(dic['key1'][:-1])
# print(dic.keys())
# for i in dic.keys(): # 전체 키 가져오기
#     print (i)
# for i in dic.values(): # 전체 값 가져오기
#     print (i)
# print(dic.items())
# dic.clear() # 딕셔너리 초기화
# print (dic)

kk = {'k1':'v1'}
kk.get('k2','없습니다.')
# kk['k2']
print ('k2' in kk)
print ('k2' not in kk)

True

In [26]:
a = {'커피':1000,'빵':2000,'고구마':2500,'김':3000}

a['오징어']=3000
print ("총합 : %d " % ((2*a.get('오징어'))+(1* a.get('김'))))
#새로운 메뉴 오징어가 3천원에 추가되고
#고객이 오징어 2개랑 김 1개를 주문했어요
#고객이 지불할 전체 가격 총합을 알려주는거에요.

총합 : 9000

In [39]:
# Set 집합 - 중복x, 순서x(인덱싱, 슬라이싱 x)
list = [1,1,1,5,9,6,3]
a = set(list)
print (a)

list2 = [1,6,8,5,19,6,3]
b = set(list2)
print (b)

print (a&b) #교집합
print (a.intersection(b))
print (len(a&b))

print (a|b) #합집합
print (a.union(b))
print (len(a|b))

print (a-b) #차집합
print (b-a)
print (a.difference(b))

a.add(99) #set 추가
a.update([66,77,88])#set 업데이트
a.remove(77)#set 삭제
print (a)

{1, 3, 5, 6, 9}
{1, 3, 5, 6, 8, 19}
{1, 3, 5, 6}
{1, 3, 5, 6}
4
{1, 3, 5, 6, 8, 9, 19}
{1, 3, 5, 6, 8, 9, 19}
7
{9}
{8, 19}
{9}
{1, 66, 3, 99, 5, 6, 9, 88}

In [54]:
# True or False
if [1]:
    print ("A")
else:
    print ("B")
    
a = [1,2,3,4]
while a:
    print (a.pop())

# 변수에 값 할당
a,b = (3,3)
c,d = [4,4]
e=f=5
print (a,b,c,d,e,f)

a = [1,2,3]
b = a    #같은 배열 쳐다보고 있음
c = a[:] #다른 배열 쳐다보고 있음
a[1]=5
print (b)
print (c)
print (d)

A
4
3
2
1
3 3 4 4 5 5
[1, 5, 3]
[1, 2, 3]
4

In [68]:
# : , Tab 꼭 하셔야되요
if 1 in [1,2,3,4] :
    pass # 아무것도 안함
else:
    print ("B")

# 입력 받기
a = input("이름을 입력해주세요.")
print ("입력된 이름은 %s 입니다 " % a)

이름을 입력해주세요.민
입력된 이름은 민 입니다

In [ ]:
# 1. 사용자 나이를 입력받아서 나이가 30 이상이면
# 'adult' 미만이면 'child'를 출력하시오.

age = int(input("나이를 입력해주세요."))

if age > 30:
    print ("adult")
else:
    print ("child")

In [ ]:
## 2. 연필 : 1000원, 펜 : 2000원
## 만원이상 구입시 10% 할인해줌
## 구매하고자하는 연필 수, 펜 수 입력 받아서 최종 금액 출력
pencil = 1000
pen = 2000
num_pencil = int(input("연필 몇개 살래?"))
num_pen = int(input("펜 몇개 살래?"))
total = pencil*num_pencil + pen*num_pen

if total > 10000:
    print ("지불할 금액은 %d 입니다" % (total*0.9))
else:
    print ("지불할 금액은 %d 입니다" % (total))

## 3. 성적이 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 
##    나머지는 F 
## - 성적을 입력 받아 학점을 알려주시오.
## - 입력값은 "이름|성적" 으로 입력 받음 ex. "민종현|89" 출력: B